<section class="section about" id="about">
    <div class="container">
        <h2 class="custom-title about__title wow">
            <span>О нас</span>
        </h2>
        <div class="about__wrap">
            <div class="about__text wow fadeInUp" data-wow-delay="500">
                Мы – четверо друзей и опытных путешественников. В один прекрасный день мы решили посвятить свою жизнь путешествиям и захотели делиться своим опытом, советами и впечатлениями о наших поездках с другими. Наша главная цель - показать вам как организовать запоминающееся комфортное путешествие, как успеть посетить как можно больше красивых мест за короткое время и сделать это максимально бюджетно! А самое главное - мы хотим вдохновить каждого из вас путешествовать как можно чаще. Именно поэтому мы создаем гайды о наших путешествиях, в которых делимся своим бесценным опытом, уникальными локациями и маршрутами.
            </div>
            <div class="about__cards wow fadeInUp" data-wow-delay="1000">
                <a class="about-card about-card--main"
                   data-fancybox="team"
                   data-src="img/base/team-1.jpg"
                   data-caption="Венгрия, Будапешт, 2021">
                    <img src="img/base/team-1.jpg" alt="" class="about-card__photo">
                    <span class="about-card__caption">Венгрия, Будапешт, 2021</span>
                </a>
                <a class="about-card about-card--main"
                   data-fancybox="team"
                   data-src="img/base/team-2.jpg"
                   data-caption="Португалия, Кашкайш, 2021">
                    <img src="img/base/team-2.jpg" alt="" class="about-card__photo">
                    <span class="about-card__caption">Португалия, Кашкайш, 2021</span>
                </a>
            </div>
        </div>        
        <div class="about__cards wow fadeInUp" data-wow-delay="1000">
            <a class="about-card about-card--horizontal"
               data-fancybox="team"
               data-src="img/base/team-3.jpg"
               data-caption="Португалия, Албуфейра, 2021">
                <img src="img/base/team-3.jpg" alt="" class="about-card__photo">
                <span class="about-card__caption">Португалия, Албуфейра, 2021</span>
            </a>
            <a class="about-card"
               data-fancybox="team"
               data-src="img/base/team-6.jpg"
               data-caption="Россия, Сочи, 2021">
                <img src="img/base/team-6.jpg" alt="" class="about-card__photo">
                <span class="about-card__caption">Россия, Сочи, 2021</span>
            </a>
            <a class="about-card about-card--horizontal"
               data-fancybox="team"
               data-src="img/base/team-4.jpg"
               data-caption="Греция, Закинф, 2021">
                <img src="img/base/team-4.jpg" alt="" class="about-card__photo">
                <span class="about-card__caption">Греция, Закинф, 2021</span>
            </a>
            <a class="about-card"
               data-fancybox="team"
               data-src="img/base/team-5.jpg"
               data-caption="Россия, Эльбрус, 2021">
                <img src="img/base/team-5.jpg" alt="" class="about-card__photo">
                <span class="about-card__caption">Россия, Эльбрус, 2021</span>
            </a>
            <a class="about-card"
               data-fancybox="team"
               data-src="img/base/team-7.jpg"
               data-caption="Турция, Каппадокия, 2021">
                <img src="img/base/team-7.jpg" alt="" class="about-card__photo">
                <span class="about-card__caption">Турция, Каппадокия, 2020</span>
            </a>
        </div>
    </div>
</section>