<%=_.template(require('../parts/header.html'))({
    title: "Гайды о бюджетных путешествиях. Путешестуйте с нами.",
    menu: {}
}) %>

<main class="site-main">
    <section class="intro">
        <video class="intro__video" autoplay="autoplay" loop="loop" muted="muted" poster="">
            <source src="video/bg-video.mp4" type="video/mp4">
            <source src="video/bg-video.webm" type="video/webm">
        </video>
    </section>
</main><!-- / .site-main -->

<%=_.template(require('../parts/footer.html'))() %>
