.btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  min-width: 210px;
  width: 100%;
  height: 60px;
  font-family: $font;
  background: none;
  user-select: none;
  border-radius: 30px;
  font-weight: normal;
  line-height: 19px;
  position: relative;
  padding: 0 43px;
  cursor: pointer;

  @include media-up(md) {
    width: auto;
  }
}
