<section class="hero">
    <video class="hero__video" autoplay loop muted playsinline poster="">
        <source src="video/bg-video.mp4" type="video/mp4">
        <source src="video/bg-video.webm" type="video/webm">
    </video>
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="hero__title">Travel4friends</h1>
            <div class="hero__text">
                "Travel is the only thing you buy, that makes you richer"
            </div>
        </div>
    </div>
</section>