@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-family: "Georgia";
    src: url("fonts/Georgia.woff2") format("woff2"),
         url("fonts/Georgia.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-family: "Georgia";
    src: url("fonts/Georgia-Bold.woff2") format("woff2"),
         url("fonts/Georgia-Bold.woff") format("woff");
}