html {
    box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--color-main);
    word-wrap: break-word;
    background-color: #fff;

    &.overflow {
        overflow: hidden;
    }
}

a {
    color: var(--color-main);
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

picture {
    display: block;
}

button {
    color: #000;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    
}

h2 {
    
}

h3 {
    
}

p {
    
}

ul, ol {
    list-style: none;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 16px;

    @include media-up(md) {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }
}

input,
select,
textarea {
    width: 100%;
    padding: 16px 20px;
    font-size: 25px;
    line-height: 1.5;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border: none;
    transition: all .2s ease-out;

    &:hover,
    &:focus {
        outline: none;
    }
}